html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  background-image: url('../images/6.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: top ;
  font-size: 14px;
  color: #00ffd1;
  -webkit-font-smoothing: antialiased;
}